{{ ansible_managed | comment }}

{% if bareos_console_directors is defined %}
{% for director in bareos_console_directors %}
Director {
   Name = {{ director.name }}
   Address = {{ director.address }}
   Password = "{{ director.password }}"
   Description = "{{ director.description }}"
   TLS Enable = {{ director.tls_enable | ternary('true', 'false') }}
}
{% endfor %}
{% endif %}

{% if bareos_console_users is defined %}
{% for user in bareos_console_users %}
Console {
   Name = {{ user.name }}
   Password = "{{ user.password }}"
   Director = {{ user.director }}
}
{% endfor %}
{% endif %}
